<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="dados.css">
    <link rel="shortcut icon" href="agroTech logo.ico" type="image/x-icon">

</head>

<body>
    <header>
        <h1>Dados</h1>
        <p>Forneça os dados necessários</p>
    </header>
    <nav>
        <a href="produtos.html">Produtos</a>
        <a href="#">Cadastrar Produto</a>
        <a href="faleconosco.html">Fale Conosco</a>
    </nav>

    <main>
        <form action="">
            <p>
                <label for="textInput">Tipo de Produto:</label>
                <input class="form-control" type="text" id="tipProduto">
                <br>
                <label for="numberInput">Quantidade do Produto(unidade):</label>
                <input class="form-control" type="number" id="qtdProduto">
                <br>
                <label for="textInput">Data de plantio:</label>
                <input class="form-control" type="date" id="tipProduto">
                <br>
                <label for="textInput">Tempo esperado de colheita:</label>
                <input class="form-control" type="text" id="tipProduto">
                <div class="d-flex">
                    <div>
                        <input class="form-check-input" type="radio" name="" id="">
                        <label for="textInput">Dias</label>
                    </div>
                    <div class="ms-2">
                        <input class="form-check-input" type="radio" name="" id="">
                        <label for="textInput">Meses</label>
                    </div>
                </div>
                <br>
                <label for="textInput">Colheita esperada(unidade):</label>
                <input class="form-control" type="text" id="tipProduto">
                <br>
                <label for="numberInput">Quantidade de água(L/m<sup>2</sup>):</label>
                <input class="form-control" type="number" id="qtdProduto">
                <br>
                <label for="numberInput">Preço da água(L/m<sup>2</sup>):</label>
                <input class="form-control" type="number" id="qtdProduto">
                <br>
                <label for="numberInput">Preço por Unidade:</label>
                <input class="form-control" type="number" id="preçoProduto">
                <br>
                <label for="numberInput">Mão de obra(R$):</label>
                <input class="form-control" type="number" id="preçoProduto">
                <br>
                <input class="form-check-input" type="checkbox" name="" id="usou" onchange="mudou()">
                <label for="numberInput">Usou agrotóxico?</label>
                <br><br>
            <div id="agro">
                <label for="numberInput">Custo do Agrotóxico:</label>
                <input class="form-control" type="number" id="preçoProduto"><br>
            </div>
            <div class="text-center">
                <button class="btn btn-success">Cadastrar</button>
            </div>
            <!--Fornece: tipo de produto, uso de agrotóxico e quantidade e seu preço, preço da água no local e quantidade de água usado, custo da mão de obra-->
            </p>
        </form>
    </main>
    <footer>
        <p>PGPO &copy;2023</p>
    </footer>

    <script>
        document.getElementById("agro").style.display = "none"
        let checkbox = document.getElementById("usou")
        function mudou() {
            if (checkbox.checked) {
                document.getElementById("agro").style.display = ""
            } else {
                document.getElementById("agro").style.display = "none"
            }
        }
        
    </script>

</body>

</html>