<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fale Conosco</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="dados.css">
    <link rel="shortcut icon" href="agroTech logo.ico" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Fale conosco</h1>
        <p>Encontrou algum erro no nosso sistema? Reporte-os!</p>
    </header>
        <nav>
            <a href="home.html">Início</a>
            <a href="produtos.html">Produtos</a>
            <a href="cadastroProdutos.html">Cadastrar Produto</a>
            <a href="#">Fale Conosco</a>
        </nav>
    
        <main>
            <form action="">
                <div class="mb-3">
                    <label for="">Email</label>
                    <input class="form-control" type="email" placeholder="exemplo@gmail.com">
                </div>
                <textarea class="form-control" name="" id="" cols="30" rows="5" placeholder="Digite sua mensagem"></textarea>
                <div class="text-center mt-3">
                    <button class="btn btn-success">Enviar</button>
                </div>
            </form>
        </main>

        <footer style="position: fixed; bottom: 0; width: 100vw;">
            <p>PGPO &copy;2023</p>
        </footer>
</body>
</html>