<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGPO</title>
    <link rel="shortcut icon" href="agroTech logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>PGPO</h1>
        <p>O melhor monitoramento da sua produção</p>
    </header>
    <nav>
        <a href="#">Início</a>
        <a href="login.html">Login</a>
        <a href="cadastro.html">Cadastre-se</a>
    </nav>
    <main>
        <h2>O que somos?</h2>
        <p>A <abbr title="Programa de Gestão de Produtos Orgânicos">PGPO</abbr> é um sistema que se responsabiliza por armazenar todos os seus dados para uma boa organização em sua produção, nós viemos com a intenção de facilitar a sua vida e dos demais produtores que sofrem com anotações constantes e papelada desnecessária. Contamos com tabelas individuais para cada cultura produzida e uma margem de lucro estipulada com base nas informações fornecidas</p>

        <picture>
            <source media="(max-width:670px)" srcset="PGPO.png">
            <img src="PGPO.png" alt="logo">
        </picture>

        <h2>Por que deve nos escolher?</h2>
        <p>Nós apresentamos um sistema gratuito para um armazenamento rápido e pratico de dados, além disso contamos com perfis individuais para que suas informações sejam sigilosas e protegidas a dedo</p>
    </main>

    <footer style="position: fixed; bottom: 0; width: 100vw;">
        <p>PGPO &copy;2023</p>
    </footer>
</body>
</html>